 /* front page */
 body {
     background: linear-gradient(90deg, blue, #fff, rgb(0, 255, 234));
 }

 .port-text {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 8rem;
     background: linear-gradient(45deg, #2035ac, #30dbbf);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 12%;
     margin-bottom: 1%;
     justify-content: center;

 }

 .about {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 2.5rem;
     background: linear-gradient(45deg, rgb(192, 28, 28), rgb(156, 48, 160));
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     margin-top: 1%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 a.about {
     text-decoration: none;
 }

 a.about:hover {
     background: linear-gradient(45deg, rgb(92, 42, 42), rgb(48, 65, 112));
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
 }

 .myself {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 1.5rem;
 }

 /* front page items */
 .front-view {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 /* Head of first page */

 /* Second page/about page */
 .second-page-top-right-bar {
     display: flex;
     flex-direction: row;
     gap: 5%;
     justify-content: right;
     text-align: flex-start;
     margin-top: 2%;
     padding-right: 2%;

 }

 .second-page-top-right-bar a {
     text-decoration: none;
     color: #2035ac;
     font-weight: 600;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .second-page-top-right-bar a:hover {
     box-shadow: 0 0 4px;
     text-shadow: 0 1px #fff;
 }

 .Sub-head {
     font-size: 2.5rem;
     font-weight: 600;
     font-style: italic;
 }

 .Body-of-contents {
     display: flex;
     flex-direction: column;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: rgb(8, 66, 28);
     justify-content: center;
     font-size: 1.5rem;
     margin-top: 1%;
     align-items: center;
     word-spacing: 0.5cap;
 }

 body {
     background: linear-gradient(90deg, #e0e1e4, #71c0b3);
 }

 /* Skills info page */
 .skills-section {
     color: rgb(8, 66, 28);
     display: flex;
     flex-direction: row;
     gap: 25%;
     justify-content: center;
     margin-top: 10%;
     margin-bottom: 1%;
     font-size: 1.5rem;
     font-family: Arial, Helvetica, sans-serif;
 }

 .skills-info {
     color: rgb(8, 66, 28);
     font-weight: 700;
     display: flex;
     margin-top: 10;
     padding-top: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.2rem;
     justify-content: center;
 }

 .top-right-skills-bar {
     display: flex;
     flex-direction: row;
     gap: 5%;
     justify-content: right;
     padding-right: 2%;
     margin-top: 2%;
 }

 .top-right-skills-bar a {
     text-decoration: none;
     color: #2035ac;
     font-weight: 600;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .top-right-skills-bar a:hover {
     box-shadow: 0 0 4px;
     text-shadow: 0 1px #fff;
 }

 .skills-head {
     margin-top: 3%;
     justify-content: center;
     text-align: center;
     font-size: 2.5rem;
     font-weight: 600;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-style: italic;
     color: rgb(8, 66, 28);
 }

 .skills {
     list-style: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     font-size: 1.5rem;
 }

 .Strengths {
     list-style: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
     font-size: 1.5rem;
 }

 /* Services-Page */
 body {
     background: linear-gradient(90deg, #e0e1e4, #71c0b3);
 }

 .service-page-top-right-bar {
     display: flex;
     flex-direction: row;
     gap: 5%;
     margin-top: 2%;
     padding-right: 2%;
     justify-content: right;
 }

 .service-page-top-right-bar a {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: 600;
     color: #2035ac;
     text-decoration: none;
 }

 .service-page-top-right-bar a:hover {
     box-shadow: 0 0 4px;
     text-shadow: 0 1px #fff;
 }

 .services-area {
     margin-top: 3%;
     justify-content: center;
     text-align: center;
     font-size: 2.5rem;
     font-weight: 600;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-style: italic;
     color: rgb(8, 66, 28);
 }

 .services-objectives {
     display: block;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: rgb(8, 66, 28);
     justify-content: center;
     font-size: 1.5rem;
     margin-top: 5%;
 }

 .services-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     list-style: none;
 }

 .services-paragraph {
     display: flex;
     justify-content: center;
     margin-top: 5%;
     color: rgb(8, 66, 28);
     font-weight: 700;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 1.2rem;
 }
 .